####################################
##### MANAGED BY ANSIBLE ({{ ansible_role_name }})
####################################

auto  {{ javikweb_private_interface }}
iface {{ javikweb_private_interface }} inet dhcp
